*{
    margin: 0;
    padding: 0;
    background-color: rgb(250, 246, 246);

}

body{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.container{
    width: 375px;
    height: 550px;
    background-color: #ffffff;
    overflow-y: scroll;

    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.container form{
    /* width: 100%; */
    border: 1px solid rgb(82, 74, 235);
    border-radius: 4px;
}

.container::-webkit-scrollbar{
    display: none;
}

.container form input{
    border: none;
    height: 40px;
}


.product{
    display: flex;
    align-items: center;
    
}

.product img{
    height: 70px;
    width: 70px;
    padding: 20px 0;
    object-fit: cover;

}
.p-details{
    padding: 10px;
}

.p-details h2{
    font-size: 20px;
}
.p-details h3{
    font-size: 17px;
}

.container form input{
    width: 100%;
   
}

.form1 {
    display: flex;
}

.form1 i{
    margin: 10px 10px;
}

.form1 input{
    border: none;
}
